@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d2732;
  color: #ffff;
  overflow-x: hidden;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dbb13b #f2fdff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f2fdff00;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffff0000;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dbb03b93;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #dbb13b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #dbb13b;
}

@font-face {
  font-family: "saonara";
  src: url(./assets/font/MADESAONARA.otf);
}

.saonara {
  font-family: "saonara";
}
